.nav-buttons {
  display: flex;
  margin: 0;
  padding: 0 30px;
  font-family: "Noto Sans Display", sans-serif;
}

.nav-buttons li {
  display: block;
  padding: 0 16px;
  color: lightyellow;
}

.nav-buttons a {
  text-decoration: none;
}

.nav-buttons a:hover {
  color: lightyellow;
  background-color: #111111;
  text-decoration: underline;
}

@media (max-width: 425px) {
  .nav-buttons {
    width: 100%;
    margin-bottom: 10px;
    justify-content: space-evenly;
  }
}
