.search-bar input {
  margin-right: 3px;
  padding: 5px;
  font-family: "Noto Sans Display", sans-serif;
  outline: none;
  transition: ease 0.5s;
}

.search-bar button {
  padding: 5px;
  font-family: "Noto Sans Display", sans-serif;
}
