.App {
  width: auto;
  height: auto;
}

.App button {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 15px 30px;
  border-radius: 5px;
}

.App > img {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  color: transparent;
  opacity: 0;
  -webkit-backface-visibility: hidden;
  -webkit-animation: imageAnimation 30s linear infinite 0s;
  animation: imageAnimation 30s linear infinite 0s;
}

.App > img:nth-child(2) {
  background-image: url("./images/wallpaper2.jpg");
  -webkit-animation-delay: 6s;
  animation-delay: 6s;
}

.App > img:nth-child(3) {
  background-image: url("./images/wallpaper3.jpg");
  -webkit-animation-delay: 12s;
  animation-delay: 12s;
}

.App > img:nth-child(4) {
  background-image: url("./images/wallpaper4.jpg");
  -webkit-animation-delay: 18s;
  animation-delay: 18s;
}

.App > img:nth-child(5) {
  background-image: url("./images/wallpaper5.jpg");
  -webkit-animation-delay: 24s;
  animation-delay: 24s;
}

@-webkit-keyframes imageAnimation {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    -webkit-animation-timing-function: ease-out;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
