.game {
  text-align: center;
  border: 2px solid lightyellow;
  width: 300px;
  height: 400px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.719);
}

.game:hover {
  cursor: pointer;
}

.game img {
  width: inherit;
  height: 280px;
  transition: 0.5s ease;
  opacity: 0.8;
  object-fit: cover;
  object-position: 50%;
}

.game img:hover {
  opacity: 1;
}

.game h4 {
  color: lightyellow;
}

.game h4:hover {
  text-decoration: underline;
}

.game p {
  color: lightyellow;
}
