.games-list {
  width: 75%;
  margin: 10px auto auto auto;
  padding: 10px;
  justify-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  column-gap: 10px;
  row-gap: 10px;
}

.games-list a {
  text-decoration: none;
}

@media (max-width: 768px) {
  .games-list {
    width: 100%;
    grid-template-columns: 1fr 1fr;
    padding: 0;
  }
}

@media (max-width: 425px) {
  .games-list {
    width: 100%;
    grid-template-columns: 1fr;
    padding: 0;
  }
}
