.pagination {
  display: flex;
  width: fit-content;
  justify-content: center;
  margin: 70px auto 0;
  background-color: #1f2833;
}

.pagination button {
  margin: 3px;
}

.pagination button:hover {
  cursor: pointer;
}

.nopagination {
  display: flex;
  width: fit-content;
  justify-content: center;
  margin: 70px auto 0;
  opacity: 0;
}

.nopagination button {
  margin: 3px;
}
